@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.cropedImage{
    margin: auto;
    margin-top: 10%;
    width: 150px;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.productImage{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-width: 150px;
    max-height: 250px;
}
.starNumber{
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    height: 10%;
    padding-top: auto;
}
.checked {
    color: orange;
}
#productData{
    text-align: center;
}
