@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.cropedImage{
    justify-self: center;
    margin-top: 10%;
    margin-bottom: auto;
    width: 15vw;
    height: 40vh;
    min-height: 50%;
    min-width: 125px;
    overflow: hidden;
    justify-content: center;
}
.productImage{
    width: 100%;
    height: auto;
    margin: auto;
}

.starNumber{
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    height: 10%;
    padding-top: auto;
}
.checked {
    color: orange;
}
#productData{
    text-align: center;
}
