@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
    font-size: 10px;
}

.starNumber{
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    height: 15px;
}
.checked {
    color: orange;
}
#productData{
    text-align: center;
    padding-top: 0px;
}
.textProduct p{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 20px;
}
.textProduct div{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 20px;
}
.textProduct ng-template{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 20px;
}
.cropedImage{
    justify-self: center;
    margin-top: 10%;
    width: 100px;
    height: 150px;
    overflow: hidden;
    position: relative;
}
.productImage{
    position: absolute;
    max-width: 100px;
    max-height: 150px;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
button{
    margin-top: 5px;
    height: 25px;
    justify-content: center;
}