<div id = 'AddFundsContainer' *ngIf = 'submitted == false'>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <mat-form-field class="example-full-width" appearance="fill" style="font-size: 15px">
            <mat-label>Card number: </mat-label>
            <input matInput id = 'cardNumber' ccNumber type="card-number" formControlName="cardNumber" class="form-control" [errorStateMatcher]="matcher" placeholder="Card number:" />
            <mat-error *ngIf="registerForm.controls['cardNumber'].hasError('required')">Card number is required!</mat-error>
            <mat-error *ngIf="registerForm.controls['cardNumber'].hasError('minlength')">Invalid card number format!</mat-error>
            
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill" style="font-size: 15px">
            <mat-label>CVC: </mat-label>
            <input matInput id = 'cvc' type="number" formControlName="cvc" class="form-control" [errorStateMatcher]="matcher" placeholder="CVC:" />
            <mat-error *ngIf="registerForm.controls['cvc'].hasError('required')">CVC number is required!</mat-error>
            <mat-error *ngIf="registerForm.controls['cvc'].hasError('min')">Invalid CVC number format!</mat-error>
            <mat-error *ngIf="registerForm.controls['cvc'].hasError('max')">Invalid CVC number format!</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill" style="font-size: 15px">
            <mat-label>Pin: </mat-label>
            <input matInput id = 'pin' type="number" formControlName="pin" class="form-control" [errorStateMatcher]="matcher" placeholder="Pin:" >
            <mat-error *ngIf="registerForm.controls['pin'].hasError('required')">Pin number is required!</mat-error>
            <mat-error *ngIf="registerForm.controls['pin'].hasError('min')">Invalid Pin number format!</mat-error>
            <mat-error *ngIf="registerForm.controls['pin'].hasError('max')">Invalid Pin number format!</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill" style="font-size: 15px">
            <mat-label>Expire Date: </mat-label>
            <input matInput id = 'expireDate' [min]="date" formControlName="expireDate" class="form-control" [matDatepicker]="picker" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="form-group">
        <button mat-raised-button id = 'fundsRegister' color="black">Add card</button>
    </div>
    </form>
</div>
<div class ='AddFundsContainer' id = 'AddSuccess' *ngIf = 'submitted == true && isSuccessful == true'>
    <div>Card added successfuly</div>
    <mat-icon id = 'AddFundsSuccess'>check_circle_outline</mat-icon>
</div>
<div class ='AddFundsContainer' id = 'AddUnsuccess' *ngIf = 'submitted == true && isSuccessful == false'>
    <div>Error!</div>
    <mat-icon id = 'AddFundsUnsuccess'>cancel</mat-icon>
</div>
