#AddFundsContainer{
    justify-content: center;
    justify-items: center;
}
#cardNumber{
    width: 190px;
}
#cvc{
    width: 95px;
}
#pin{
    width: 95px;
}
#expireDate{
    width: 155px;
}
#fundsRegister{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
}
#sold{
    width: 190px
}
.form-group{
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
}
.text-danger{
    font-size: 70%;
}
.text-danger div{
    color: red;
}
#AddSuccess{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: auto;
}
#AddSuccess > div{
    margin: auto;
    width: auto;
    justify-items: center;
    justify-content: center;
    font-size: 40px;
    color: green;
}
#AddFundsSuccess{
    vertical-align: middle;
    height: auto;
    width: auto;
    font-size: 200px;
    color: green;
    margin: auto;
}
#AddUnsuccess{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: auto;
}
#AddUnsuccess > div{
    margin: auto;
    width: auto;
    justify-items: center;
    justify-content: center;
    font-size: 40px;
    color: red;
}
#AddFundsUnsuccess{
    vertical-align: middle;
    height: auto;
    width: auto;
    font-size: 200px;
    color: red;
    margin: auto;
}

.example-full-width {
    margin-top: 20px;
    width: 40%;
  }
  @media (max-width:1024px){
    .example-full-width{
        width: 80%;
    }
}
  