<div class="col-6">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit3()">
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill" style="font-size: 15px">
                <mat-label>Product name: </mat-label>
                <input matInput id = 'sold' type="text" formControlName="productName" class="form-control" [errorStateMatcher]="matcher" placeholder="Product name:" />
                <mat-error *ngIf="registerForm.controls['productName'].hasError('required')">Product name required!</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill" style="font-size: 15px">
                <mat-label>Starting price: </mat-label>
                <input matInput id = 'cvc' formControlName="startingPrice" class="form-control" [errorStateMatcher]="matcher" placeholder="Product price:" />
                <mat-error *ngIf="registerForm.controls['startingPrice'].hasError('required')">Price is required!</mat-error>
            </mat-form-field>
            <div>
                <label>Expire Date: </label>
                <input id = 'expireDate' type="datetime-local" [min]="date" formControlName="expireDate" class="form-control" [ngClass]="{ 'is-invalid': error && registerForm.controls['expireDate'].errors }" [ngClass]="{ 'is-valid': !registerForm.controls['expireDate'].errors}" />
                <div *ngIf="submitted && registerForm.controls['expireDate'].errors" class="text-danger">
                    <div *ngIf="registerForm.controls['expireDate'].errors['required']">Expire Date is required!</div>
                </div>
            </div>
        </div>
    
        <div class = 'imagesContainer'>
            <div style = 'position: relative;' class="image-area" *ngFor="let image of images">
                <img [src]="image.photo" width="100px" height="100px">
                <a class="remove-image" (click)="removeImage(image)" style="display: inline;">&#215;</a>
            </div>
        </div>
        <div class = 'imgAdd'>
            <input id ='addImg' type = 'file' value = 'select' #selectFile accept="image/png, image/gif, image/jpeg"
            (change)="onFileSelected($event)" id = 'input'>
        </div>
        <div class="form-group">
            <button id = 'fundsRegister' class="btn btn-primary" mat-raised-button color="white">Post </button>
        </div>
        </form>
</div>
