<div id ='reviewContainer'>
    <p *ngIf=" (usertype == 'Client') && !openEdit" id = 'intro'>Write your own review: </p>
    <div *ngIf=" (usertype == 'Client') && !openEdit" id = 'postStars'>
        <p>Star number: </p>
        <span class="fa fa-star" id = 'star11' (mouseover)='hoverStars(1)'></span>
        <span class="fa fa-star" id = 'star12' (mouseover)='hoverStars(2)'></span>
        <span class="fa fa-star" id = 'star13' (mouseover)='hoverStars(3)'></span>
        <span class="fa fa-star" id = 'star14' (mouseover)='hoverStars(4)'></span>
        <span class="fa fa-star" id = 'star15' (mouseover)='hoverStars(5)'></span>
    </div>
    <div *ngIf="(usertype == 'Client') && !openEdit" id = 'postReview'>
        <textarea id="writeRew" [formControl] = "myText"></textarea>
        <button (click)="updateReview()">Submit</button>
    </div>
    <div id = 'reviews'>
        <p>Reviews: </p>
        <div class = 'review' *ngFor = 'let review of reviews'>
            <app-product-review [review]="review" [usertype]="usertype" [username]="username" [userId]="userId"></app-product-review>
        </div> 
        
    </div>
</div>
