#reviewContainer{
    display: flex;
    flex-direction: column;
    font-size: 30%;
    justify-content: center;
}
#postReview{
    margin: auto;
    margin-left: 130px;
    display: flex;
    flex-direction: row;
}
textarea{
    width: 500px;
    height: 200px;
    max-width: 500px;
    max-height: 200px;
    min-width: 500px;
    min-height: 200px;
}
button{
    height: 20px;
    margin: auto;
    margin-left: 15px;
}
#reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-left: 10%;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.review{
    width: 80vw;
    height: auto;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: gray;

}
.stars{
    border-style: solid;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 75%;
}
.stars > div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.stars > div > span{
    margin-top: 25px;
}
.checked{
    color : orange
}
.stars p{
    margin-left: 20px;
    margin-right: 10px;
}
.author{
    font-size: 75%;
    margin-left: 20px;
}
.reviewBody{
    font-size: 75%;
    height: auto;
    margin-left: 50px;
    width: 80%;
    border-style: dashed;
    margin-bottom: 20px;
    padding: 25px;
    align-items: flex-end;   
    word-wrap: break-word; 

}
#intro{
    margin-left: 130px;
}
#postStars{
    display: flex;
    flex-direction: row;

    margin-left: 130px;
}
#postStars span{
    margin-top: 35px;
    margin-left: 6px;
}
@media (max-width:1024px){
    .stars{
        border-style: solid;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        font-size: 75%;
    }
    #reviews{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        margin-left: 20px;
        margin-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    .reviewBody{
        font-size: 75%;
        height: auto;
        margin-left: 20px;
        width: 75%;
        border-style: dashed;
        margin-bottom: 20px;
        padding: 20px;
        align-items: flex-end;   
        word-wrap: break-word; 
    
    }
}