#menu{
    background-color: darkgray;
    width: 98.8vw;
    margin-top: -8px;
    margin-left: -10px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    position:sticky;
    justify-content: space-between;
}
#productList{  
  justify-content: center;
  padding: auto;
  padding-top: 10px;
  margin: auto;
  margin-top: 10vh; 
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  width: auto;
  display: flex;
  font-size: 15%;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 5vh;
  column-gap: 10px;
}
