<div class = 'form-group' [formGroup]="registerForm">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label >Username: </mat-label>
        <input formControlName="username" matInput [errorStateMatcher]="matcher" placeholder="Ex. username">
        <mat-hint>Errors appear instantly</mat-hint>
        <mat-error *ngIf="registerForm.controls['username'].hasError('required')">
            Username is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password: </mat-label>
        <input  formControlName="password" matInput [errorStateMatcher]="matcher" placeholder="Ex. $Password123">
        <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearence="fill" *ngIf="this.registerForm.value['type']=='Company'">
        <mat-label>IBAN:</mat-label>
        <input formControlName="iban" matInput [errorStateMatcher]="matcher" placeholder="Ex. ROBT2949">
        <mat-error *ngIf="registerForm.controls['iban'].hasError('required')">
            IBAN is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Select one</mat-label>
        <mat-select formControlName="type" [errorStateMatcher]="matcher">
            <mat-option value="Client">Client</mat-option>
            <mat-option value="Company">Company</mat-option>
        </mat-select>
    </mat-form-field>
    <div id = 'profilePhoto'>
        <label>Choose your profile photo: </label>
        <div class = 'imgAdd'>
            <input id ='addImg' type = 'file' single value = 'select' #selectFile accept="image/png, image/gif, image/jpeg"
            (change)="onFileSelected($event)" id = 'input'>
        </div>
        <div style = 'position: relative;' class="image-area" *ngFor="let image of images">
            <img [src]="image.photo" width="100px" height="100px">
            <a class="remove-image" (click)="removeImage(image)" style="display: inline;">&#215;</a>
        </div>
    </div>
</div>
<div id = 'buttons'>
    <button mat-flat-button color="white" (click)="register()">Register</button>
    <button mat-flat-button color="white" (click)="login()">Login</button>
</div>
