

    <div id = 'profileContainer'>
        <div id = 'accountDetails' *ngIf="(clientDetails | async) as client">
            <div id = 'cropedImage'>
              <img *ngIf="client.profilePhotoURL != 'default'" src='{{client.profilePhotoURL}}'>
              <img *ngIf="client.profilePhotoURL == 'default'"  src = "https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
            </div>
            <div id = 'informations'>
                <p>Balance: {{round(client.balance)}}$</p>
                <p>Username: {{client.clientName}}</p>
                <button mat-raised-button (click)="logout()"><mat-icon id ='logout'>exit_to_app</mat-icon><p>Log-out</p></button>
            </div>
        </div>
        <div class = "commands" id = "addFundsBar" >
          <div class = 'commandsBar'(click) = "addFundsFunction()">
            <p><mat-icon>swap_vert</mat-icon>Add funds</p>
          </div>
          <app-add-funds *ngIf="fundsComponent" [clientId]="clientId"></app-add-funds>
        </div>
        <div class = "commands" id = "cashOutBar" >
          <div class = 'commandsBar'(click) = "cashOutFunction()">
            <p><mat-icon>swap_vert</mat-icon>Cash out</p>
          </div>
          <app-cash-out *ngIf="cashOutComponent" [clientId]="clientId"></app-cash-out>
        </div>
        <div class = "commands" id = "addCardBar" >
          <div class = 'commandsBar'(click) = "addCardFunction()">
            <p><mat-icon>swap_vert</mat-icon>Add new card</p>
          </div>
          <app-add-card *ngIf="addCardComponent" [clientId]="clientId"></app-add-card>
        </div>
        <div class = "commands" id = "viewCardsBar" >
          <div class = 'commandsBar'(click) = "viewCardsFunction()">
            <p><mat-icon>swap_vert</mat-icon>View your cards</p>
          </div>
          <app-view-cards *ngIf="viewCardsComponent" [clientId]="clientId"></app-view-cards>
        </div>
        <div class = "commands" id = "viewOwnProductsBar" >
          <div class = 'commandsBar'(click) = "viewOwnProductsFunction()">
            <p><mat-icon>swap_vert</mat-icon>View your own products</p>
          </div>
          <app-view-own-products *ngIf="viewOwnProductsComponent" [clientId]="clientId"></app-view-own-products>
        </div>
        <div class = "commands" id = "viewOwnReviewsBar" >
          <div class = 'commandsBar'(click) = "viewOwnReviewsFunction()">
            <p><mat-icon>swap_vert</mat-icon>View your reviews</p>
          </div>
          <app-view-review-list *ngIf="viewOwnReviewsComponent" [clientId]="clientId"></app-view-review-list>
        </div>
        <div class = "commands" id = "changeProfileImage" >
          <div class = 'commandsBar'(click) = "updateClientFunction()">
            <p><mat-icon>swap_vert</mat-icon>Change profile image</p>
          </div>
          <app-update-client *ngIf="changeImageComponent" [clientId]="clientId"></app-update-client>
        </div>
    </div>

