.formGroup{
    width: 100%;
    padding-left: 50px;
    height: 400px;
}
.image-area {
    margin-left: 10px;
    position: relative;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    background: white;
    margin-top: 20px;
  }
  .image-area img{
    max-width: 100px;
    max-height: 100px;
    border:solid;
    border-color: black;
  }
  .remove-image {
  display: none;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 10em;
  padding: 2px 6px 3px;
  text-decoration: none;
  font: 700 21px/20px sans-serif;
  background: #555;
  border: 3px solid #fff;
  color: #FFF;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
  }
  .remove-image:hover {
   background: #E54E4E;
    padding: 3px 7px 5px;
    top: -11px;
  right: -11px;
  }
  .remove-image:active {
   background: #E54E4E;
    top: -10px;
  right: -11px;
  }
  .mat-button-base {
    margin: 8px 8px 8px 0;
  }

.col-6{
    width: 100%;
}
:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

#profilePhoto{
    width: 200px;
    height: 200px;
    margin-top: 20px;
}
.imagesContainer{

    height: 150px;
    width: 60%;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    white-space:nowrap;
    scrollbar-width: thin;
    overflow-y: hidden;
    justify-items: baseline;
    border:solid
}

.example-full-width {
  margin-top: 20px;
  width: 40%;
}
#fundsRegister{
    margin-top: 30px;
}

