<div id = 'reviewContainer' *ngFor = "let review of reviews | async;">
    <div class = 'productInfo'>
        <div class = 'cropedImage'>
            <img class = 'productImage' src = {{productData.profilePhoto}}>
        </div>
        <div id = 'productData'>
            <div class = 'starNumber'>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <div class = 'textProduct'>
                <p class = 'rating'>Rating: {{productData.starNumber}}</p>
                <p class = 'productTitle'>{{productData.name | titlecase}}</p>
                <p class = 'timer'>{{productData.finalTime.toString() | countdown}}</p>
                <p class = 'actualPrice'>{{productData.price}}</p>
            </div>
        </div>
    </div>
    <div class = 'productReview'>
        <div class = starNumber2>
            <p>Stars number:</p>
            <span class="fa fa-star checked" id = 'star{{i+1}}' (mouseover) = 'hoverStars(i+1)' *ngFor = "let item of [].constructor(review.starNumber); let i = index"></span>
            <span class="fa fa-star" id = 'star{{review.starNumber + i + 1}}' (mouseover) = 'hoverStars(review.starNumber + i + 1)' *ngFor = "let item of [].constructor(5-review.starNumber); let i = index"></span>
            <p>{{review.postTime | date:"dd/MM/yyyy HH:mm"}}</p>
            <mat-icon id = 'openEdit' (click) = 'changeType(review)'> border_color</mat-icon>
        </div>
        <div class = 'message'>
            <div *ngIf="!editBox">{{review.text}}</div>
            <textarea #textArea  [formControl] = "myText" id = 'textUpdate' *ngIf="editBox"></textarea>
        </div>
    </div>
</div>