footer{
    background-color: silver;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: end;
    margin-top: auto;
    margin-bottom: 0px;
    font-size: 10px;
    width: 98.8vw;
    margin-left: -10px;
    margin-bottom: -10px;
}