.forg-group{
    display: flex;
    flex-direction: column;
}
#username{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}
#password{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
button{
    background-color: white;
    color: black;
}