P{
    font-size: 25%;
}

#product-details-container{
    margin-left: 0px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0px;

}
#product-details-text{
    margin-left: 0px;
}
#makeOffer{
    height: 25px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
}

#company-profile-image{
    margin-right: 10px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
}
#company-profile-image > img{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: auto;
    height: 100%;
}
@media (max-width:1024px){
    .example-full-width{
        width: 80%;
    }
    #product-details-container{
        margin-left: 0px;
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-left: 80px;
        margin-bottom: 20px;
    }
}