<div id = 'product-details-container'>
    <div id = 'product-details-text'>
        <p>Product name: {{product.productName}}</p>
        <p>Starting price: {{product.startPrice}}$</p>
        <p>Actual price: {{product.actualPrice}}$</p>
        <p>Company: {{product.companyProfile.companyName}}</p>
        <p>Actual owner: {{product.clientProfile? product.clientProfile.clientName : '-'}}</p>
        <p>Final time: {{product.finalTime | date: 'dd/MM/yyyy hh:mm:ss'}}</p>
        <p id="timer">Remaining time: {{product.finalTime | countdown}}</p>

        <div id = 'makeOffer' *ngIf="(userType == 'Client')  && (!product.clientProfile || product.clientProfile.clientName != username)">
            <input type = 'number' [formControl] = "myOffer">
            <button (click)='makeOfferCommand()'>Make Offert</button>
        </div>
    </div>
    <div id = 'company-profile-image'>
        <img id = 'companyImage'>
    </div>
    <div>
    </div>
</div>
